.nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    background-color: var(--bg-col);
}

.nav-btn {
    color: black;
    text-decoration: none;
    font-weight: 600;
    padding: 0.5rem;
    border-radius: var(--border-radius);
}

.nav-btn:hover {
    background-color: var(--bg-hover-col);
}

.nav-loggedin-container {
    display: flex;
    gap: 1rem;
}